<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport" />
        <title>Admin Panel</title>

        <!-- General CSS Files -->
        <link rel="stylesheet" href="/public/assets/css/app.min.css" />
        <link rel="stylesheet" href="/public/assets/bundles/jquery-selectric/selectric.css" />
        <link rel="stylesheet" href="/public/assets/bundles/bootstrap-social/bootstrap-social.css" />
        <link rel="stylesheet" href="/public/assets/bundles/datatables/datatables.min.css" />
        <link rel="stylesheet" href="/public/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" />

        <!-- Template CSS -->
        <link rel="stylesheet" href="/public/assets/css/style.css" />
        <link rel="stylesheet" href="/public/assets/css/components.css" />

        <!-- Custom style CSS -->
        <link rel="stylesheet" href="/public/assets/css/custom.css" />
        <link rel="shortcut icon" type="/image/x-icon" href="public/assets/img/favicon.ico" />
    </head>

    <body>
        <div id="root"></div>
        <script type="module" src="/src/main.jsx"></script>

        <!-- General JS Scripts -->
        <script src="/public/assets/js/app.min.js"></script>

        <!-- JS Libraries -->
        <script src="/public/assets/bundles/apexcharts/apexcharts.min.js"></script>
        <script src="/public/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js"></script>
        <script src="/public/assets/bundles/jquery-selectric/jquery.selectric.min.js"></script>
        <script src="/public/assets/bundles/datatables/datatables.min.js"></script>
        <script src="/public/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>

        <!-- Page Specific JS File -->
        <script src="/public/assets/js/page/index.js"></script>
        <script src="/public/assets/js/page/auth-register.js"></script>
        <script src="/public/assets/js/page/datatables.js"></script>

        <!-- Template JS File -->
        <script src="/public/assets/js/scripts.js"></script>

        <!-- Custom JS File -->
        <script src="/public/assets/js/custom.js"></script>
    </body>
</html>
